body { background: #FFFFFF}
.wk_list_box {
    width: 100%;
    min-width: 1020px;
    height: 160px;
    overflow: hidden;
    background: url(bn.jpg) no-repeat center top;
    background-size: cover;
}

.tab1 { border: 0}
.tab1 .tab-title { height: 65px; line-height: 65px; border-bottom: 1px solid #E5E5E5; text-align: center; overflow: visible; background: none}
.tab1 .tb { height: 65px; line-height: 65px}
.tab1 .tb li { float: none; display: inline-block}
.tab1 .tb a { padding: 0 6px; margin: 0 15px; font-size: 16px; border: 0}
.tab1 .tb .a a { height: 63px; font-weight: 400; color: #f36; border-bottom: 3px solid #f36}


.about_us { width: 1140px; padding-top: 50px; margin: 0 auto; color: #555555; font-size: 14px; vertical-align: top; line-height: 28px}


.wk_about span p {
    border: 0 none;
    color: #555;
    font-size: 14px;
    vertical-align: top;
    line-height: 28px;
    margin-bottom: 8px;
    text-indent: 28px;
}
.wk_about span p strong {
    font-size: 16px;
    color: #333;
}


.wk_about_hty-box .slogan {
    margin-bottom: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    color: #b8b8b8;
}
.wk_about_hty {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 46px 0;
}
.wk_about_hty .line {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 3px;
    height: 100%;
    background-color: #d4d4d4;
}
.wk_about_hty .item {
    position: relative;
    height: 90px;
}
.wk_about_hty .item .date {
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -110px;
    width: 78px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #f36;
}
.wk_about_hty .item.odd .date {
    margin-left: 31px;
}
.wk_about_hty .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -7px;
    width: 12px;
    height: 12px;
    border: 2px solid #f36;
    background-color: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.wk_about_hty .item .date::after {
    content: '';
    position: absolute;
    top: 9px;
    right: -8px;
    border-style: solid;
    border-width: 5px 4px;
    border-color: transparent transparent transparent #f36;
}
.wk_about_hty .item.odd .date::after {
    right: 100%;
    border-color: transparent #f36 transparent transparent;
}
.wk_about_hty .item .desc {
    position: absolute;
    top: -18px;
    left: 50%;
    padding: 10px 20px;
    margin-left: 38px;
    width: 45%;
    line-height: 30px;
    background-color: #f9f9f9;
    border: 1px solid #eae9e9;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
}
.wk_about_hty .item.odd .desc {
    left: auto;
    right: 50%;
    margin: 0 36px 0 0;
    text-align: right;
}
.wk_about_hty .item .desc .arrow {
    position: absolute;
    top: 15px;
    left: -20px;
    border-style: solid;
    border-width: 9px 10px;
    border-color: transparent #eae9e9 transparent transparent;
}
.wk_about_hty .item.odd .desc .arrow {
    left: 100%;
    border-color: transparent transparent transparent #eae9e9;
}
.wk_about_hty .item .desc .arrow::after {
    content: '';
    position: absolute;
    top: -9px;
    left: -8px;
    border-style: solid;
    border-width: 9px 10px;
    border-color: transparent #f9f9f9 transparent transparent;
}
.wk_about_hty .item.odd .desc .arrow::after {
    left: -12px;
    border-color: transparent transparent transparent #f9f9f9;
}
